@font-face {
  font-family: 'Graphik';
  src: url("../assets/fonts/Graphik-Regular-Web.woff2") format("woff2"), url("../assets/fonts/Graphik-Regular-Web.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Graphik';
  src: url("../assets/fonts/Graphik-Semibold-Web.woff2") format("woff2"), url("../assets/fonts/Graphik-Semibold-Web.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

.acquaint-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  z-index: 9999999;
  max-width: 24em;
  min-width: 24em;
  padding: 1.5em;
  font-size: 1em;
  line-height: 1.5em;
  background-color: #02142B;
  color: #fff;
  border-radius: 3px;
  animation: bounce 2s cubic-bezier(0, 0, 0, 1) infinite;
  backface-visibility: hidden; }
  .acquaint-card .acquaint-close {
    position: absolute;
    top: 1em;
    right: 1em;
    opacity: 0.6;
    z-index: 999;
    cursor: pointer; }
  .acquaint-card .acquaint-header {
    width: 100%;
    font-size: 0.8em;
    order: 1;
    opacity: 0.6;
    text-transform: uppercase; }
  .acquaint-card .acquaint-text {
    order: 2;
    width: 100%;
    margin-top: 1em;
    opacity: 1; }
    .acquaint-card .acquaint-text img {
      width: 100%; }
  .acquaint-card .acquaint-button {
    display: table;
    order: 3;
    padding: 5px 20px;
    margin-top: 2em;
    background-color: #fff;
    color: #02142B;
    border-radius: 3px;
    cursor: pointer; }
    .acquaint-card .acquaint-button:hover {
      font-weight: bold; }
  .acquaint-card.completed {
    transform: rotateY(180deg);
    animation: complete 1s cubic-bezier(0, 1, 0, 1), bounce 2s cubic-bezier(0, 0, 0, 1) infinite, close 0.3s cubic-bezier(0, 1, 0, 1) 1s;
    animation-fill-mode: forwards;
    backface-visibility: hidden !important;
    color: #02142B; }
    .acquaint-card.completed:before {
      position: absolute;
      top: calc(50% - 1.6em);
      content: attr(data-complete);
      max-width: 17em;
      min-width: 17em;
      background-color: #33F6B2;
      margin-top: -0.4em;
      padding: 1em;
      transform: rotateX(180deg);
      text-align: center; }

@keyframes enter {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes bounce {
  0% {
    transform: translate3d(0, -2px, 0); }
  50% {
    transform: translate3d(0, 2px, 0); }
  100% {
    transform: translate3d(0, -2px, 0); } }

@keyframes complete {
  0% {
    transform: rotateX(0deg); }
  100% {
    transform: rotateX(180deg); } }

@keyframes close {
  0% {
    transform: scaleY(1) rotateX(180deg); }
  100% {
    transform: scaleY(0) rotateX(180deg); } }

.aquaint-minimized {
  position: fixed;
  bottom: 0;
  right: 2.2em;
  padding: 1em;
  line-height: 1em;
  font-size: 0.6em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: #02142B;
  cursor: pointer;
  animation-fill-mode: forwards;
  animation: peekup 0.3s cubic-bezier(0, 0, 0, 1); }

@keyframes peekup {
  0% {
    transform: translate3d(0, 2.2em, 0); }
  100% {
    transform: translate3d(0, 0em, 0); } }

.wrapper {
  width: auto;
  padding-top: 0px; }

.gallery-container {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
  background-color: #f1f5fc; }

.hover-swatch {
  position: relative;
  margin-top: 50px;
  width: calc(100vh - 50px);
  height: calc(100vh - 50px);
  margin-left: auto; }
  .hover-swatch > div {
    width: 100%;
    height: 100%; }
  .hover-swatch .dot {
    position: absolute;
    font-size: 0.8em;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    margin-top: -3px;
    border-radius: 6px;
    background-color: currentColor;
    pointer-events: none; }

.picker-container {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; }
  .picker-container .gallery-container {
    display: none; }
  .picker-container .hover-swatch {
    display: inline-block; }

.saturation-slider {
  position: absolute;
  visibility: hidden; }

.picker-instructions {
  max-width: calc(100% - (100vh - 70px));
  padding: 70px; }
  .picker-instructions p {
    max-width: 400px; }

.draft-details {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  z-index: 999;
  background-color: #fff; }
  .draft-details a:hover {
    text-decoration: none; }
  .draft-details .logo {
    display: flex;
    align-items: center;
    height: 60px; }
    .draft-details .logo img {
      vertical-align: middle; }
    .draft-details .logo span {
      vertical-align: bottom; }

.block {
  position: relative;
  width: 14vw;
  height: 16vw;
  margin: 1vw;
  border: 10px solid #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5s cubic-bezier(0, 0.99, 0, 0.99); }
  .block.selected {
    border: 10px solid currentColor;
    box-shadow: 0 6px 30px -3px currentColor; }
  .block.selected .block-description {
    border-radius: 5px; }
  .block:hover {
    border: 10px solid currentColor; }
    .block:hover .block-description {
      border-radius: 5px; }
  .block .block-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    text-align: center;
    margin: -10px 0 -10px -10px;
    width: calc(100% + 0px);
    background-color: #fff;
    color: #02142B;
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.2em;
    color: #33517d;
    transition: border-radius 0.5s cubic-bezier(0, 0.99, 0, 0.99); }

.btn-group {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #fff; }
  .btn-group .btn {
    margin-left: 30px; }

.existing-picks {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  transition: transform 0.5s cubic-bezier(0, 0.99, 0, 0.99); }
  .existing-picks div:hover {
    transform: scaleY(3) scaleX(1.5); }

.training-info {
  margin: 10em 5em 5em 5em;
  align-items: flex-start !important;
  justify-content: space-between; }

.gallery-intro {
  max-width: 550px;
  width: 100%; }
  .gallery-intro h2 {
    margin-top: 0; }
  .gallery-intro p {
    max-width: 550px;
    margin-bottom: 30px;
    line-height: 1.8em; }

.aside {
  max-width: 420px; }
  .aside .fake-link {
    font-weight: bold; }
  .aside p {
    color: #4D6997;
    font-size: 0.85em; }
  .aside #carbonads {
    background-color: #f1f5fc;
    padding: 10px;
    padding-left: 150px;
    position: relative;
    min-height: 125px;
    margin-top: 2rem;
    box-sizing: border-box; }
  .aside .carbon-img {
    position: absolute;
    top: 10px;
    left: 10px; }
  .aside .carbon-text {
    font-size: 0.85rem;
    line-height: 100%; }
  .aside .carbon-poweredby {
    display: block;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #829cce;
    margin-top: 1rem; }

.count {
  white-space: nowrap; }

#trainSet {
  display: none;
  margin-left: 20px; }

.toaster {
  background-color: #02142B;
  color: #fff; }

.offscreen {
  position: absolute;
  left: -9999em;
  visibility: hidden; }

#importData {
  margin-left: -60px;
  opacity: 0; }

* {
  box-sizing: border-box; }

::-webkit-input-placeholder {
  color: #6782b2; }

::-moz-placeholder {
  color: #6782b2; }

:-ms-input-placeholder {
  color: #6782b2; }

body,
html {
  font-family: "Graphik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  line-height: 140%; }

body.fixed-header-margin {
  padding-top: 50px; }

body {
  transition: background-color 0.5s cubic-bezier(0, 0.99, 0, 0.99); }

.theme-light {
  background-color: #fff; }
  .theme-light .header {
    background-color: #fff; }
    .theme-light .header .search-bar {
      background-color: #fff; }
    .theme-light .header input {
      border: 1px solid #B9D3FF;
      color: #4D6997; }
  .theme-light .toaster {
    color: #fff;
    background-color: #02142B; }
  .theme-light .blackloader {
    background-color: #fff;
    color: #4D6997; }
  .theme-light .nav-item svg path,
  .theme-light .nav-item svg g {
    fill: #829cce; }
  .theme-light .nav-item.active svg path,
  .theme-light .nav-item.active svg g {
    fill: #192841; }
  .theme-light .color-detail-container {
    background-color: #02142B; }
    .theme-light .color-detail-container h3 {
      color: #fff; }
    .theme-light .color-detail-container span {
      color: #829cce; }
  .theme-light .cp-poster {
    background-color: #02142B;
    color: #fff; }
  .theme-light .cp-palette {
    padding: 0; }
  .theme-light .settings.notification {
    color: white; }
  .theme-light .ad {
    background-color: #9db7ea; }
  .theme-light #carbonads,
  .theme-light #carbonads_1,
  .theme-light #carbonads_2 {
    background-color: white; }
  .theme-light .carbon-text {
    color: black; }

.theme-dark {
  background-color: #02142B; }
  .theme-dark .header {
    background-color: #02142B; }
    .theme-dark .header .search-bar {
      background-color: #02142B; }
    .theme-dark .header input {
      background-color: transparent;
      border: 1px solid #33517d; }
  .theme-dark .blackloader {
    background-color: #02142B;
    color: #fff; }
  .theme-dark .nav-item svg path,
  .theme-dark .nav-item svg g {
    fill: #6782b2; }
  .theme-dark .nav-item.active svg path,
  .theme-dark .nav-item.active svg g {
    fill: #B9D3FF; }
  .theme-dark .toaster {
    color: #02142B;
    background-color: #fff; }
  .theme-dark .settings.notification {
    color: #02142B; }
  .theme-dark .ad {
    background-color: #33517d; }
  .theme-dark #carbonads,
  .theme-dark #carbonads_1,
  .theme-dark #carbonads_2 {
    background-color: white; }
  .theme-dark .carbon-text {
    color: #02142B; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.faux-link {
  color: #6782b2;
  cursor: pointer; }
  .faux-link:hover {
    text-decoration: underline;
    color: blue; }

h1 {
  margin-top: 0; }

h1, h2 {
  line-height: 140%; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 55px;
  width: 100%;
  padding: 0 20px;
  color: #829cce;
  transition: background-color 0.5s cubic-bezier(0, 0.99, 0, 0.99);
  box-shadow: 0 3px 12px rgba(2, 20, 43, 0.08); }
  .header .logo img ~ span {
    margin-left: -6px;
    margin-top: 1px; }
  .header a:hover {
    text-decoration: none; }

.header .logo img,
.draft-details .logo img {
  width: 20px;
  margin-right: 8px;
  vertical-align: middle; }

.header .logo span,
.draft-details .logo span {
  color: #FF356A;
  font-size: 8px;
  text-transform: uppercase;
  font-weight: bold; }

.draft-details {
  box-shadow: 0 3px 12px rgba(2, 20, 43, 0.08); }

.search-bar {
  position: relative;
  display: flex;
  flex-direction: flex-row;
  align-items: center;
  justify-content: center;
  flex-grow: 3;
  padding: 0px 30px;
  transition: background-color 0.5s cubic-bezier(0, 0.99, 0, 0.99); }
  @media (max-width: 840px) {
    .search-bar {
      position: fixed;
      top: 50px;
      left: 0;
      width: 100%;
      padding: 0 20px 10px 20px; }
      .search-bar input {
        width: 100%; } }
  .search-bar .enter-icon {
    display: none;
    position: absolute;
    left: 0;
    top: 6px;
    height: 20px;
    line-height: 18px;
    font-size: 0.6em;
    text-transform: uppercase;
    border: 1px solid #4D6997;
    border-bottom-width: 1px;
    font-weight: bold;
    font-family: "Inconsolata", monospace;
    color: #4D6997;
    border-radius: 2px;
    padding: 0px 8px; }
  .search-bar input {
    height: 30px;
    width: 100%;
    font-size: 0.85em;
    border-radius: 2px;
    padding: 0px 15px;
    background-color: transparent;
    font-family: "Inconsolata", monospace;
    border: none;
    outline: none;
    color: #9db7ea;
    transition: background-color 0.5s cubic-bezier(0, 0.99, 0, 0.99); }
  .search-bar svg {
    position: absolute;
    right: 40px;
    line-height: 30px;
    cursor: pointer; }
    .search-bar svg g {
      fill: #6782b2; }

.nav {
  margin-left: 20px;
  font-size: 0.85em; }
  .nav .nav-item {
    cursor: pointer; }
    .nav .nav-item img,
    .nav .nav-item svg {
      vertical-align: middle; }
    .nav .nav-item + .nav-item {
      margin-left: 20px; }

.controls {
  font-size: 0.85em; }

.grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px; }
  @media (max-width: 840px) {
    .grid {
      padding-top: 55px; } }

.color-pair-group {
  display: flex;
  align-items: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%; }
  .color-pair-group.animate-render .color-pair {
    animation: anirender 0.5s cubic-bezier(0, 0.99, 0, 0.99);
    animation-fill-mode: forwards;
    opacity: 0;
    transform-origin: 0 0; }
    .color-pair-group.animate-render .color-pair:nth-child(1) {
      animation-delay: 0.03s; }
    .color-pair-group.animate-render .color-pair:nth-child(2) {
      animation-delay: 0.06s; }
    .color-pair-group.animate-render .color-pair:nth-child(3) {
      animation-delay: 0.09s; }
    .color-pair-group.animate-render .color-pair:nth-child(4) {
      animation-delay: 0.12s; }
    .color-pair-group.animate-render .color-pair:nth-child(5) {
      animation-delay: 0.15s; }
    .color-pair-group.animate-render .color-pair:nth-child(6) {
      animation-delay: 0.18s; }
    .color-pair-group.animate-render .color-pair:nth-child(7) {
      animation-delay: 0.21s; }
    .color-pair-group.animate-render .color-pair:nth-child(8) {
      animation-delay: 0.24s; }
    .color-pair-group.animate-render .color-pair:nth-child(9) {
      animation-delay: 0.27s; }
    .color-pair-group.animate-render .color-pair:nth-child(10) {
      animation-delay: 0.3s; }
    .color-pair-group.animate-render .color-pair:nth-child(11) {
      animation-delay: 0.33s; }
    .color-pair-group.animate-render .color-pair:nth-child(12) {
      animation-delay: 0.36s; }

@keyframes anirender {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0px, 0); } }

.color-pair {
  position: relative;
  height: 30vw;
  width: calc((100% - 160px) / 4);
  margin: 20px;
  background-color: #fff;
  font-family: "Graphik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -0.02em;
  backface-visibility: hidden;
  border-radius: 5px; }
  @media (min-width: 1680px) {
    .color-pair {
      font-size: 1.3em;
      line-height: 140%; } }
  @media (max-width: 1240px) {
    .color-pair {
      width: calc((100% - 120px) / 3);
      height: 42vw; } }
  @media (max-width: 840px) {
    .color-pair {
      width: calc((100% - 80px) / 2);
      height: 63vw; } }
  .color-pair:hover .icon-group {
    display: flex;
    opacity: 1;
    transform: translate3d(0, 0px, 0); }
  .color-pair:active .icon-group {
    opacity: 0;
    transform: translate3d(0, -10px, 0); }
  .color-pair.cp-image {
    overflow: hidden; }
    .color-pair.cp-image:before {
      display: none; }
    .color-pair.cp-image .cp-bg-image {
      width: auto;
      height: 100.2%;
      background-size: cover;
      background: url("../assets/images/pineapple.jpg"); }
  .color-pair.cp-poster {
    padding: 5px; }
    .color-pair.cp-poster .panel-container {
      display: flex;
      height: 85%;
      width: 100%; }
    .color-pair.cp-poster .poster-panel {
      height: 100%;
      width: 50%; }
    .color-pair.cp-poster .poster-description {
      height: 15%;
      width: 100%;
      font-weight: bold;
      line-height: 1.4em;
      font-size: 0.85em;
      padding: 15px; }
  .color-pair.cp-palette {
    display: flex;
    flex-direction: column;
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: transparent; }
    .color-pair.cp-palette .poster-panel {
      display: block;
      width: 100%; }
    .color-pair.cp-palette .poster-panel:nth-child(2) {
      height: 45%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    .color-pair.cp-palette .poster-panel:nth-child(3) {
      height: 30%; }
    .color-pair.cp-palette .poster-panel:nth-child(4) {
      height: 15%; }
    .color-pair.cp-palette .poster-panel:last-child {
      height: 10%;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
  .color-pair.ad > *:not(#carbonads):not(#carbonads_2) {
    display: none; }
  .color-pair.ad #carbonads,
  .color-pair.ad #carbonads_1,
  .color-pair.ad #carbonads_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0rem;
    margin: 2rem;
    height: calc(100% - 4rem); }
  .color-pair.ad .carbon-wrap {
    display: inline-block; }
  .color-pair.ad .carbon-img {
    display: inline-block;
    padding: 10px; }
  .color-pair.ad .carbon-text {
    display: inline-block;
    padding: 2rem; }
  .color-pair.ad .carbon-poweredby {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #6782b2; }
  .color-pair .type-container {
    position: relative;
    height: 100%;
    padding: 1.5em; }
    @media (min-width: 1680px) {
      .color-pair .type-container {
        padding: 2em; } }
    .color-pair .type-container h1 {
      color: currentColor;
      font-weight: bold;
      font-size: 2.6em;
      line-height: 115%;
      hyphens: auto; }
    .color-pair .type-container .footnote {
      position: absolute;
      bottom: 1.5em;
      right: 1.5em;
      display: inline-block;
      border-radius: 2px;
      font-size: 0.75em;
      text-transform: uppercase;
      margin-top: 1em; }
  .color-pair .icon-group {
    display: flex;
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 2;
    padding: 8px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 3px 15px -3px rgba(5, 10, 30, 0.25);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translate3d(0, -10px, 0);
    transition: all 0.5s cubic-bezier(0, 0.99, 0, 0.99); }
    .color-pair .icon-group:hover {
      display: flex;
      opacity: 1;
      transform: translate3d(0, 0px, 0); }
    .color-pair .icon-group *:not(:first-child) {
      margin-left: 10px; }
  .color-pair:hover .panel div {
    opacity: 1; }
  .color-pair .panel {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%; }
    .color-pair .panel div {
      opacity: 1;
      width: 33.34%;
      height: 100%;
      transition: opacity 0.5s cubic-bezier(0, 0.99, 0, 0.99); }
  .color-pair .info,
  .color-pair .swap {
    cursor: pointer; }
  .color-pair .swap * {
    user-select: none; }
  .color-pair .heart {
    cursor: pointer;
    z-index: 2; }
    .color-pair .heart.favorited {
      display: inline-block; }
    .color-pair .heart.favorited path {
      fill: tomato;
      stroke-width: 0; }
  .color-pair .copy-code {
    cursor: pointer;
    z-index: 2;
    font-weight: normal; }
  .color-pair img {
    width: 100%; }

.flat-icon {
  position: absolute;
  width: 100%;
  padding: 4.5vw;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate3d(0, -50%, 0); }

.color-detail-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 30px;
  overflow-y: scroll;
  background-color: white;
  color: #02142B;
  pointer-events: none;
  z-index: 9;
  border-radius: 5px;
  transform: scale(0.9);
  opacity: 0;
  animation: popin 0.5s cubic-bezier(0, 0.99, 0, 0.99);
  animation-fill-mode: forwards; }
  @media (min-width: 1680px) {
    .color-detail-container {
      font-size: 21px; } }

@keyframes popin {
  0% {
    transform: scale(0.9);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }
  .color-detail-container .color-detail {
    width: 100%;
    margin-bottom: 1em; }
  .color-detail-container span {
    color: #4D6997;
    font-family: "Inconsolata", monospace; }
  .color-detail-container .copyable {
    cursor: pointer;
    border-bottom: 1px dotted #4D6997; }
    .color-detail-container .copyable:active {
      background-color: #02142B;
      color: #02142B; }
  .color-detail-container h3 {
    display: inline-block; }
  .color-detail-container.show {
    pointer-events: auto;
    backface-visibility: hidden; }

.color-round {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border-radius: 2px; }

.close-detail,
.close {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 1.2em;
  padding: 4px;
  cursor: pointer;
  color: #6782b2; }

.close {
  padding: 5px 9px;
  border-radius: 2px;
  transition: background-color ease 0.25s; }
  .close:hover {
    background-color: #f1f5fc; }

.buttons {
  position: fixed;
  bottom: 15px;
  right: 15px; }
  .buttons div {
    background-color: #02142B;
    padding: 5px 30px;
    color: #fff;
    text-align: center;
    cursor: pointer; }
    .buttons div + div {
      margin-top: 5px; }

.flex-row, .training-info, .nav, .controls, .bias {
  display: flex;
  flex-direction: row;
  align-items: center; }

.flex-column, .color-detail-container.show {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 30px;
  min-width: 175px;
  padding: 0 10px;
  border-radius: 0px;
  outline: none;
  font: inherit;
  background: #f1f5fc url("../assets/images/arrowdown.gif") no-repeat 94% 50%;
  border: 1px solid #9db7ea; }

.options {
  margin-right: 30px; }

.bias {
  margin-right: 20px;
  color: #4D6997; }
  .bias * + * {
    margin-left: 5px; }

.bias-inputs input {
  border: none;
  outline: none;
  height: 30px;
  text-align: center;
  color: #829cce;
  width: 60px;
  border-radius: 2px;
  font-size: 1em;
  font-family: "Inconsolata", monospace;
  cursor: ew-resize;
  user-select: none;
  -moz-appearance: textfield;
  transition: all 0.5s cubic-bezier(0, 0.99, 0, 0.99); }
  .bias-inputs input:active {
    transform: scale(1.2); }
  .bias-inputs input::-webkit-inner-spin-button, .bias-inputs input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .bias-inputs input::-moz-inner-spin-button, .bias-inputs input::-moz-outer-spin-button {
    -moz-appearance: none;
    margin: 0; }

.change-theme {
  margin-right: 20px; }

.settings {
  margin-right: 10px; }

.settings,
.change-theme {
  cursor: pointer; }
  .settings img,
  .change-theme img {
    vertical-align: middle; }

.settings.notification {
  position: relative; }
  .settings.notification:after {
    content: "";
    position: absolute;
    top: 0;
    border: 2px solid currentColor;
    right: -4px;
    width: 8px;
    height: 8px;
    background-color: tomato;
    border-radius: 8px;
    transition: border 0.5s cubic-bezier(0, 0.99, 0, 0.99); }

.btn {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 2px;
  font-size: 0.85em;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap; }
  .btn.save-all {
    background-color: #444;
    color: #eee; }
  .btn.gray {
    background-color: #9db7ea;
    color: #02142B; }
  .btn.white {
    background-color: #fff;
    color: #02142B; }
  .btn.black {
    color: #fff;
    background-color: #02142B; }
  .btn.pink {
    color: white;
    background-color: #FF3A6C; }
  .btn.green {
    background-color: #46cd99;
    color: white; }
  .btn--red {
    background-color: tomato;
    color: #fff;
    padding: 10px 30px; }
  .btn a {
    display: inline-block;
    text-decoration: none; }

.bl-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -20px auto 0 auto;
  transform: translate3d(-50%, 0, 0); }

.blackloader {
  position: relative;
  min-width: 40px;
  padding: 5px 20px;
  font-size: 1em;
  line-height: 40px;
  background-color: #fff;
  position: relative; }
  .blackloader:after {
    position: absolute;
    content: "";
    top: 15px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    -webkit-filter: blur(15px);
    filter: blur(15px);
    background: linear-gradient(to left, #ff5770, #e4428d, #c42da8, #9e16c3, #6501de, #9e16c3, #c42da8, #e4428d, #ff5770);
    background-size: 200% 200%;
    animation: animateGlow 1s linear infinite; }

@keyframes animateGlow {
  0% {
    background-position: 0% 50%; }
  100% {
    background-position: 200% 50%; } }

.hide {
  display: none; }

.modal-wrapper {
  position: fixed;
  top: -15px;
  left: 0;
  width: 100%;
  height: calc(100% + 15px);
  padding-bottom: 50px;
  transition: all 0.5s cubic-bezier(0, 0.99, 0, 0.99);
  z-index: 999999;
  transform: translate3d(0, 0px, 0);
  background-color: rgba(2, 20, 43, 0.5);
  overflow: scroll; }
  .modal-wrapper.hidden {
    opacity: 0;
    transform: translate3d(0, 15px, 0);
    pointer-events: none; }

.modal {
  position: relative;
  padding: 50px;
  width: 600px;
  margin: 70px auto 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 20px -1px rgba(0, 10, 30, 0.2);
  overflow: hidden; }
  .modal h2 {
    color: #02142B;
    margin-top: 0; }
  .modal ul {
    list-style: none;
    padding: 0; }
    .modal ul li {
      margin-bottom: 10px; }
    .modal ul li .code {
      color: #4D6997;
      font-weight: normal; }
  .modal p, .modal li {
    color: #4D6997; }
    .modal p .highlight, .modal li .highlight {
      color: #02142B;
      font-weight: bold; }
    .modal p .code, .modal li .code {
      font-family: "Inconsolata", monospace;
      color: #02142B;
      padding: 0px 3px;
      background-color: #f1f5fc; }

.toaster {
  display: inline-table;
  position: fixed;
  bottom: 0px;
  right: 30px;
  height: 50px;
  padding: 0 25px;
  line-height: 50px;
  z-index: 9999999999;
  opacity: 0;
  border-radius: 5px;
  transition: all 0.5s cubic-bezier(0, 0.99, 0, 0.99); }
  .toaster.show {
    transform: translate3d(0, -30px, 0);
    opacity: 1; }

.modal {
  overflow-y: scroll;
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */ }
  .modal .item-row {
    border-top: 1px solid #f1f5fc;
    padding-top: 30px; }
    .modal .item-row + .item-row {
      margin-top: 30px; }
    .modal .item-row:last-child {
      border-top: 0; }
  .modal .flex-row, .modal .training-info, .modal .nav, .modal .controls, .modal .bias {
    justify-content: space-between;
    align-items: flex-start; }
  .modal .label {
    display: block;
    font-weight: bold;
    margin-bottom: 1em; }
  .modal h3 {
    margin-top: 0px; }
  .modal p {
    margin-top: 0;
    margin-bottom: 0; }
  .modal p .faux-link {
    font-size: 1em;
    color: blue; }
  .modal .btn {
    margin-top: 1em;
    text-align: center; }
  .modal .switch {
    position: relative;
    display: inline-block;
    min-width: 60px;
    height: 34px; }
  .modal .switch input {
    display: none; }
  .modal .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 2px;
    background-color: #9db7ea;
    -webkit-transition: all 0.5s cubic-bezier(0, 0.99, 0, 0.99);
    transition: all 0.5s cubic-bezier(0, 0.99, 0, 0.99); }
  .modal .slider:before {
    position: absolute;
    content: "Off";
    height: 26px;
    width: 26px;
    left: 4px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    text-align: center;
    line-height: 26px;
    color: #6782b2;
    bottom: 4px;
    border-radius: 2px;
    background-color: white;
    -webkit-transition: all 0.5s cubic-bezier(0, 0.99, 0, 0.99);
    transition: all 0.5s cubic-bezier(0, 0.99, 0, 0.99); }
  .modal input:checked + .slider {
    background-color: #46cd99; }
  .modal input:checked + .slider:before {
    content: "On";
    color: #46cd99; }
  .modal input:focus + .slider {
    box-shadow: 0 0 1px #46cd99; }
  .modal input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }
  .modal .slider.round {
    border-radius: 34px; }
  .modal .slider.round:before {
    border-radius: 50%; }

.courtesy-links a {
  display: block; }

.modal-margin-top {
  margin-top: 2em; }

.small-text, .color-detail-container, .modal p, .modal .faux-link, .reset-custom-image {
  font-size: 0.85em; }

.tippet {
  font-family: "Graphik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.custom-image-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.reset-custom-image {
  display: none;
  color: blue;
  cursor: pointer; }
  .reset-custom-image:hover {
    text-decoration: underline; }

.promo-sign-up {
  position: absolute;
  left: -9999em;
  visibility: hidden;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  padding: 50px;
  background-color: #02142B;
  color: white;
  opacity: 0;
  transform: translate3d(0, 30px, 0);
  transition: opacity 0.5s cubic-bezier(0, 0.99, 0, 0.99), transform 0.5s cubic-bezier(0, 0.99, 0, 0.99); }
  .promo-sign-up.show {
    display: flex;
    visibility: visible;
    left: 0;
    opacity: 1;
    transform: translate3d(0, 0px, 0); }

.promo-text {
  max-width: 550px; }
  .promo-text p {
    color: #6782b2; }
  .promo-text p span {
    color: #f1f5fc; }

.sign-up {
  background-color: #192841;
  padding: 1.5em 3em;
  text-align: center; }
  .sign-up p {
    margin-top: 0; }
  .sign-up .btn {
    position: relative;
    width: 100%; }

canvas {
  z-index: 99999; }

.warning-note {
  display: inline-block;
  border: 1px solid #FF356A;
  font-size: 0.85em;
  padding: 0.5em 1em;
  color: #FF356A; }
